@import url('https://fonts.googleapis.com/css?family=Exo:100,200,400,600,700|Open+Sans:100,200,400,600,700');
@import '_colors.scss';
@import '_generic.scss';


.section__top{
  height: 100%;
  /* background: url('/static/img/pexels-photo-132650.jpeg'); */
  color: white;
}

.top__scrollicon{
  position: absolute;
  bottom: 1em;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  font-size: 36px;
  color: $color-primary-1;
}

.section__info{
  color: $color-primary-0;
  background-color: lighten($color-primary-1, 20%);
}

.section__numbers{
  background: rgba(0,0,0,0.4);
  color: $color-white-1;
}

.section__tools{
  background-color: $color-secondary-1-3;
  color: $color-secondary-1-1;

  .btn {
    background: transparent !important;
    border: 1px solid $color-secondary-1-2;
    color: $color-secondary-1-1 !important;
  }
}

.upper{
  text-transform: uppercase;
}

.parallax-window{
  background: transparent;
}

.grid-item{
  width: 20%;
  height: auto;
  padding: 20px;
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=53C0u0kgPff1QU+bboOpE9xPP18 */

/* Feel free to copy&paste color codes to your application */
