<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Typecraft Smartapps</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/dist/css/bootstrap.css') }}"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css">
  <script src="{{ url_for('static', filename='lib/jquery/dist/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/parallax.js/parallax.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/countUp.js/countUp.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/countUp.js/countUp-jquery.js') }}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  {% block head %}

  {% endblock %}
</head>
<body>
  {% block content %}

  {% endblock %}
</body>
</html>