{% extends 'frontend/base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/frontpage.css') }}">
  <script src="/static/js/frontpage.js"></script>
{% endblock %}
{% block content %}
  <div class="content">
    <section class="section__top">
      <div class="container">
        <div class="row">
          <h1>Typecraft - <span class="thin upper">smart tools</span></h1>
        </div>
      </div>
      <a class="scrollto top__scrollicon" href="#info">
        <i class="fa fa-angle-down"></i>
      </a>
    </section>
    <section id="info" class="section__info">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2 class="light">Automated linguistic heavy-lifting</h2>
            <p class="light">The Typecraft smart tools is a set of online web services performing tagging and classification tasks.</p>
            <p>The web services can be accessed both manually on this web page, on the <a href="https://typecraft.org/app">Typecraft web app</a>, or through the <a href="https://docs.typecraft.org/smart">API.</a></p>
          </div>
        </div>
      </div>
    </section>
    <section id="numbers" class="section__numbers">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="number__countup" data-countup data-start="0" data-end="1200" />
          </div>
        </div>
      </div>
    </section>
    <section id="parsers" class="section__parsers">
      
    </section>
    <section id="pricing" class="section__pricing">
      
    </section>
    <section id="footer" class="section__footer">
      
    </section>
  </div>
{% endblock %}

