{% extends 'frontend/base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/frontpage.css') }}">
  <script src="/static/js/frontpage.js"></script>
{% endblock %}
{% block content %}
  <div class="content">
    <section class="section__top">
      <div class="container">
        <div class="row">
          <h1>Typecraft - <span class="thin upper">smart tools</span></h1>
        </div>
      </div>
      <a class="scrollto top__scrollicon" href="#info">
        <i class="fa fa-angle-down"></i>
      </a>
    </section>
    <section id="info" class="section__info">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>Automated linguistic heavy-lifting</h2>
            <p class="light">
              The Typecraft smart tools is a set of online web services performing tagging and classification tasks. The web services can be accessed both manually on this web page, on the <a href="https://typecraft.org/app">Typecraft web app</a>, or through the <a href="https://docs.typecraft.org/smart">API.</a></p>
            <p class="light">
              Gaining access is as creating a creating a <a href="https://typecraft.org/signup">regular Typecraft account</a>, and then <a href="/login">logging in.</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="numbers" class="section__numbers">
      <div class="container">
        <div class="row center">
          <h2 class="bold">Statistics</h2>
        </div>
        <div class="row">
          <div class="col-md-4 center">
            <h4>Requests per second</h4>
            <span class="number__countup" data-countup data-start="0" data-end="1200" />
          </div>
          <div class="col-md-4 center">
            <h4>Current job count</h4>
            <span class="number__countup" data-countup data-start="0" data-end="1200" />
          </div>
          <div class="col-md-4 center">
            <h4>Total users</h4>
            <span class="number__countup" data-countup data-start="0" data-end="1200" />
          </div>
        </div>
      </div>
    </section>
    <section id="tools" class="section__tools">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Tools</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            Gain access to in total X different tools, among which are POS-taggers, gloss-taggers, lemmatizers, chunkers and more.
          </div>
        </div>
        <div class="space"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="tools__filter btn-group" role="group">
              <button class="btn tools__all">All</button>
              <button class="btn tools__pos">Pos taggers</button>
              <button class="btn tools__gloss">Gloss taggers</button>
              <button class="btn tools__lemma">Lemmatizers</button>
              <button class="btn tools__chunker">Chunkers</button>
              <button class="btn tools__multilingual">Multilingual tools</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="grid">
            <div class="grid-item pos gloss lemma multilingual">Casetagger</div>
            <div class="grid-item pos">Stanford tagger</div>
            <div class="grid-item pos gloss lemma">Smarttagger</div>
            <div class="grid-item gloss">Some tagger</div>
            <div class="grid-item chunker">NLP</div>
            <div class="grid-item pos gloss lemma multilingual">Casetagger</div>
            <div class="grid-item pos">Stanford tagger</div>
            <div class="grid-item pos gloss lemma">Smarttagger</div>
            <div class="grid-item gloss">Some tagger</div>
            <div class="grid-item chunker">NLP</div>
          </div>
        </div>
      </div>
    </section>
    <section id="pricing" class="section__pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Pricing</h2>
            <p>You get limited access by simply creating a free tier account.</p>
            <p>However, if you want to fully utilize the powers of the Typecraft Smart Tools, choose one of the paid plans below.</p>
            <p>Already have a Typecraft premium account? Then you might already have one of the tiers below activated.</p>
          </div>
        </div>
        <div class="space"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="pricingcard">
              <h3>Free tier</h3>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>1 machine hour per month</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>100 API calls per month</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>24 hour local storage of tasks and their results</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Access to 6 Smart Tools</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-close"></i>
                <span class="strikethrough">Access to the smart-dashboard</span>
              </div>
              <div class="space"></div>
              <div class="pricing__button">
                <div class="button">
                  Create a free acount
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pricingcard">
              <h3>Smart tier <i class="fa fa-star"></i></h3>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>10 machine hours per month</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>3000 API calls per month</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>1 month local storage of tasks and their results</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Access to all Smart Tools</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Access to the Smart-dashboard</span>
              </div>
              <div class="space"></div>
              <div class="pricing__button">
                <div class="button">
                  Get for 5$/Month
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="space"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="pricingcard">
              <h3>Brilliant tier <i class="fa fa-diamond"></i></h3>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>50 machine hours per month</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>30000 API calls per month</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Unlimited local storage</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Access to all Smart Tools</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Access to the smart-dashboard</span>
              </div>
              <div class="space"></div>
              <div class="pricing__button">
                <div class="button">
                  Get for 50$/Month
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pricingcard">
              <h3>Genius tier <i class="fa fa-superpowers"></i></h3>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Unlimited machine hours</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Unlimited API calls</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Unlimited local storage</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Access to all Smart Tools</span>
              </div>
              <div class="pricing__element">
                <i class="mdi mdi-check"></i>
                <span>Access to the Smart-dashboard</span>
              </div>
              <div class="space"></div>
              <div class="pricing__button">
                <div class="button">
                  Get for 500$/Month
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="documentation" class="section__documentation">
      
    </section>
    <section id="footer" class="section__footer">
      
    </section>
  </div>
{% endblock %}

